
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#main {
  background-color: #c4c4c4;
}

.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.online-entry,
.design-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.project-entry,
.design-entry{
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

.name-alter {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

hr.eduSplit {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
}

.onlineSection{
  font-size: 1.4em;
  color: #000000;
  line-height: 22px;
  text-shadow: 1px 1px 1px white;
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  margin: 5px 0 0 20px;
}

.project-title,
.design-title{
  font-size: 1.3em;
  color: #000000;
  text-shadow: 1px 1px 1px white;
}

.online-date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
  margin: 10px 0 0 20px;
}

.email-text{
  padding-right: 20px;
}

.ui-widget-content a.onlineURL {
  margin-left: 20px;
  color: #1199c3;
}

.schoolName{
  font-size: 1.2em;
  text-shadow: 1px 1px 1px white;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.icons {
  color: #1199c3;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  margin-top: -13px;
  display: block;
  padding-top: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  margin-top: 10px;
}

.role-name {
  padding: 50px 65px 65px 65px;
  text-align: center;
}

.skill-list {
  font-size: 1.4em;
  text-shadow: 1px 1px 3px black;
}

.skills-label {
  text-shadow: 1px 1px 3px black;
  color: #1199c3;
  text-align: center;
  margin-top: 25px;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #1199c3;
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
  font-size: 1.1em;
}

.projectImage{
  width:250px;
}

.white-text {
  font-weight: bold;
  color: #ffffff;
}

.gray {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
  background: rgb(245,246,246); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+100 */
  background: rgb(40,52,59); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,52,59,1)), color-stop(100%,rgba(130,140,149,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 100%); /* W3C */
}

/* TODO: Replace with image later */
#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
}

.roleHeader{
  margin: 10px 0 0 12px;
  font-size: 1.4em;
  font-weight: 500;
  text-shadow: 1px 1px 3px black;
  color: #1199c3;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: right;
  margin: 10px;
  width: 150px;
  display: none;
  border-radius: 60px;
  -moz-box-shadow: 0 0 30px #777777;
  -webkit-box-shadow: 0 0 30px #777777;
  box-shadow: 0 0 30px #777777;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4a4a4a;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 25%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (max-width: 750px){
  .icons{
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 750px){
  .footer-text{
    padding-top: 5px;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.map-text{
  font-size: 30px;
  text-shadow: 1px 1px 3px black;
  padding: 10px;

}

#mapDiv {
  height: 600px;
  width: 100%;
  padding-bottom: 7%;
}

@media only screen and (min-width: 750px) {
  #skillsH3 {
    display: block;
  }
}

@media only screen and (min-width: 994px) {
  .biopic {
    display: block;
  }
}
.map-marker {
  font-family: 'Sancreek', cursive;
  font-size: 1.5em;
  background-color: #ff4d4d;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.therm {
  font-size: 2em;
  color: red;
}

.temp-fahr {
  font-size: 2em;
}

.weatherConditions {
  text-align: center;
  border: 1px solid black;
}

.carouselPlace {
  border: 2px solid black;
  width: 500px;
  -moz-box-shadow: 0 0 30px #777777;
  -webkit-box-shadow: 0 0 30px #777777;
  box-shadow: 0 0 30px #777777;
}

.frame-image {
    background-image: url(css-images/metal-ui.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.slide-image{
  height: 300px;
}

.image-description {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.major-field {
  font-style: italic;
  margin: 5px 0 0 20px;
}

 .honors-dissertation {
  margin: 5px 0 0 20px;
  cursor: help;
 }

 .job-description {
    margin: 0 0 30px 20px;
 }

 .foot-box {
   background-image: url(css-images/footer-metal.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding: 10px 0 25px 0;
 }

 .footer-text {
  font-size: 1.8em;
  font-weight: 500;
  text-shadow: 1px 1px 3px black;
  color: #1199c3;
}

.logo-box {
  float: right;
}

.map-border {
  border-style: ridge;
  border-width: 15px;
}

.verified {
  padding: 5px;
}

.ibutton {
  padding: 5px;
  font-size: .8em;
}

.design-description {
  color: #999999;
  font-size: 0.8em;
}